<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Django-rest-framework and OAuth example</h1>
    <ul>
        <li><a href="{% url 'home_session' %}">Session auth</a></li>
        <li><a href="{% url 'home_token' %}">Token auth</a></li>
        <li><a href="{% url 'home_jwt' %}">JWT auth</a></li>
    </ul>

    {% block content %}

    {% endblock content %}

    {% block scripts %}
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://cdn.jsdelivr.net/satellizer/0.13.0/satellizer.min.js"></script>
    {% endblock scripts %}
</body>
</html>
