<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/static/hello.all.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>

    <h1>Django-rest-framework and OAuth 2.0 (facebook) example</h1>
    <div>
        <h4>rest_framework.authentication.SessionAuthentication</h4>
        <div><button id="login_session">Login facebook</button></div>
        <div><button id="logout_session">Logout</button></div>
    </div>
    <div>
        <h4>rest_framework.authentication.TokenAuthentication</h4>
        <div><button id="login_token">Login facebook</button></div>
        <div><button id="logout_token">Logout</button></div>
    </div>
    <div>
        <h3 id="user_data_header">User data</h3>
        <div id="user_data">Anonymous</div>
    </div>

</body>
<script type="text/javascript">

    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function showUser(user_data, got_from){
        $("#user_data").html("".concat(
            "<table>",
            "<tr><td>id</td><td>", user_data['id'], "</td></tr>",
            "<tr><td>email</td><td>", user_data['email'], "</td></tr>",
            "<tr><td>username</td><td>", user_data['username'], "</td></tr>",
            "<tr><td>avatar</td><td><img src='", user_data['social_thumb'], "'/></td></tr>",
            "</table>"
        ));
        if (got_from){
            $("#user_data_header").html("".concat("User data (got from ", got_from, ")"));
        };
    };

    function blankUser(addition_data){
        var content = "Anonymous";
        if (addition_data){
            content = content.concat(' ', addition_data);
        }
        $("#user_data").html(content);
        $("#user_data_header").html("User data");
    }

    $('#login_session').click(function(){
        hello('facebook').login().then(function(auth) {
            $.ajax({
                method: "POST",
                url: "{% url 'login_social_session' %}",
                data: {provider: auth.network, code: auth.authResponse.code},
            }).done(function( data ) {
                showUser(data, 'session');
            }).fail(function(error){
                blankUser(''.concat('(', error.status, ', ', error.statusText, ')'));
            });
        }, function(e) {
            alert('Signin error: ' + e.error.message);
        });
    });

    $('#logout_session').click(function(){
        $.ajax({
            url: "{% url 'logout_session' %}",
        }).done(function(data) {
            blankUser("Logged out from session");
        });
    });

    $('#login_token').click(function(){
        hello('facebook').login().then(function(auth) {
            $.ajax({
                method: "POST",
                url: "{% url 'login_social_token_user' %}",
                data: {provider: auth.network, code: auth.authResponse.code},
            }).done(function( data ) {
                showUser(data, 'token');
                localStorage.setItem('token', data.token);
            });
        }, function(e) {
            alert('Signin error: ' + e.error.message);
        });
    });

    $('#logout_token').click(function(){
        localStorage.removeItem('token');
        blankUser("Logged out from token");
    });

    $( document ).ready(function() {
        $.ajax({
            url: "{% url 'current_user' %}",
        }).done(function(data) {
            showUser(data, 'session');
        }).fail(function(error) {
            console.log('No valid session avaliable');
            var token = localStorage.getItem('token');
            if (token){
                $.ajax({
                    url: "{% url 'current_user' %}",
                    headers: {Authorization: "Token " + localStorage.getItem('token')},
                }).done(function(data) {
                    showUser(data, 'token');
                }).fail(function(error){
                    console.log('Saved token is not valid');
                    blankUser(''.concat('(', error.status, ', ', error.responseText, ')'));
                });
            } else {
                console.log('No token avaliable');
                blankUser(''.concat('(', error.status, ', ', error.responseText, ')'));
            }
        });
    });

    hello.init(
        {
            facebook: 295137440610143,
        },
        {
            redirect_uri: 'http://restsocialexample.com:8000/',
            scope: 'email',
            response_type: 'code',
            handle_response_manually: true
        });
</script>
</html>
