{% extends "base.html" %}
{% load static %}

{% block content %}
    <h3>Note! <a href="https://github.com/James1345/django-rest-knox/">django-rest-knox</a> must be installed for this method</h3>
    <div ng-app="KnoxApp">
        <div ng-controller="LoginKnoxCtrl as ctrl">
            <div>
                <h4>knox.auth.TokenAuthentication</h4>
                <div><button ng-click="authenticate('facebook')">Login facebook (OAuth 2.0)</button></div>
                <div><button ng-click="authenticate('google')">Login google (OAuth 2.0)</button></div>
                <div><button ng-click="authenticate('twitter')">Login twitter (OAuth 1.0)</button></div>
                <div><button ng-click="logout()">Logout knox</button></div>
            </div>
            <div>
                <h2>Knox user data</h2>
                <div>
                    {% verbatim %}
                    <img ng-src='{{ctrl.user.thumb}}' />
                    {% endverbatim %}
                </div>
                <div>
                    <span>First name:</span>
                    <span ng-bind="ctrl.user.first_name"></span>
                </div>
                <div>
                    <span>Last name:</span>
                    <span ng-bind="ctrl.user.last_name"></span>
                </div>
                <div>
                    <span>Email:</span>
                    <span ng-bind="ctrl.user.email"></span>
                </div>
                <h2>Raw knox payload</h2>
                <div>
                    <pre>{% verbatim %}{{ ctrl.knoxPayload | json }}{% endverbatim %}</pre>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">

        function set_user(response){
            var source;
            if (response){
                source = response.data;
            } else {
                source = {
                    'username': null,
                    'first_name': null,
                    'last_name': null,
                    'email': null,
                    'social_thumb': '{% static "anonymous.png" %}'
                };
            }
            self.user.username = source.username;
            self.user.first_name = source.first_name;
            self.user.last_name = source.last_name;
            self.user.email = source.email;
            self.user.thumb = source.social_thumb;
        };

        angular.module('KnoxApp', ['satellizer'])
          .config(function($authProvider) {
            $authProvider.facebook({
              url: "{% url 'login_social_knox_user' provider='facebook' %}",
              clientId: '{{ facebook_key }}'
            });
            $authProvider.google({
              url: "{% url 'login_social_knox_user' provider='google-oauth2' %}",
              clientId: '{{ googleoauth2_key }}',
              redirectUri: window.location.origin + '/'
            });
            $authProvider.twitter({
              url: "{% url 'login_social_knox_user' provider='twitter' %}",
            });
            $authProvider.authToken = 'Knox';
            $authProvider.tokenPrefix = 'satellizer_knox';  // to not collide with regular token auth
          }).controller('LoginKnoxCtrl', function($scope, $auth, $http) {
            self = this;

            self.user = {};
            set_user();
            if ($auth.getToken()){
                $http.get('{% url "current_user_knox" %}').then(function(response){
                    set_user(response);
                });
            }

            self.knoxPayload = $auth.getPayload();

            $scope.authenticate = function(provider) {
                $auth.authenticate(provider).then(function(response){
                    $auth.setToken(response.data.token);
                    set_user(response);
                    self.knoxPayload = $auth.getPayload();
                }).catch(function(data) {
                    var err_msg = "Something went wrong, maybe you haven't installed 'django-rest-knox'?";
                    console.log(data);
                    console.log(err_msg);
                    alert(err_msg);
                });
            };

            $scope.logout = function(){
                $auth.removeToken();
                set_user();
                self.knoxPayload = $auth.getPayload();
            };
        });

    </script>
{% endblock scripts %}
